<!DOCTYPE html>
<html lang="en" ng-app="gitSite">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Akshay Arora - My GitHub Site</title>
  <meta name="description" content="WebDeveloper GitHub Profile">
  <meta name="author" content="Akshay Arora">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="styles/global.css">
</head>

<body ng-class="{'no-scroll':showNav,'showAnim':enabled}" ng-controller="MainController as main">
  <!-- Header Start -->
  <header ng-controller="NavigationController">
    <div class="container">
      <div class="logo">
        <a href="#home" title="Akshay Arora" ng-click="$parent.showNav=false"><span class="demo-logo">AA</span></a>
      </div>
      <nav ng-class="{slide:$parent.showNav}">
        <ul>
          <li>
            <a href="#home" ng-class="{'active':$route.current.activetab=='home'}" ng-click="$parent.showNav=false">HOME</a>
          </li>
          <li>
            <a href="#skills" ng-class="{'active':$route.current.activetab=='skills'}" ng-click="$parent.showNav=false">SKILLS</a>
          </li>
          <li>
            <a href="#projects" ng-class="{'active':$route.current.activetab=='projects'}" ng-click="$parent.showNav=false">PROJECTS</a>
          </li>
          <li>
            <a href="#contact" ng-class="{'active':$route.current.activetab=='contact'}" ng-click="$parent.showNav=false">CONTACT</a>
          </li>
        </ul>
      </nav>
      <span class="btn-slide" ng-click="$parent.showNav=!$parent.showNav" ng-class="{'slide-back':$parent.showNav}"><span class="icon-bar"></span></span>
    </div>
  </header>
  <div ng-view class="main"></div>
  <footer>
    <div class="container"></div>
  </footer>
  <script type="text/javascript" src="libs/jquery.min.js"></script>
  <script type="text/javascript" src="libs/angular.min.js"></script>
  <script type="text/javascript" src="libs/angular-animate.min.js"></script>
  <script type="text/javascript" src="libs/angular-route.min.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
</body>

</html>
