* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  margin: 0;
  padding:0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
	background-color: #2B2301;
}
.logo {
  display: inline-block;
  width: 49.5%;
}
nav {
  display: inline-block;
  width: 49.5%;
  text-align: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
	color: #fff;
	display: inline-block;
	padding: 20px 10px;
	text-decoration: none;
	font-weight: 600;
}
@media screen and (min-width: 992px) {
	.container {
  width: 80%;
  margin: 0 auto;
}
}
